@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notification-item {
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
}

.notification-item.exit {
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
}